name: main
on:
  push:
    branches:
      - '*'

jobs:
  build:
    runs-on: ubuntu-latest
    if: "!contains(github.event.head_commit.message, '[skip ci]')"
    strategy:
      max-parallel: 2
      matrix:
        module: [scheduler, worker]

    steps:
    - uses: actions/checkout@v1
    - name: Set up Python
      uses: actions/setup-python@v1
      with:
        python-version: 3.7
    - name: Install dependencies
      run: |
        python -m pip install --upgrade pip
        cd ${{ matrix.module }}
        pip install -r requirements.txt
    - name: Test with unittest
      run: |
        pwd
        export PYTHONPATH=$(pwd)
        cd ${{ matrix.module }}
        python3 -m unittest discover tests
