name: Package and E2E

on:
  push:
    branches: [ master ]

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v2
    - name: Build scheduler
      run: |
        export PYTHONPATH=$(pwd)
        export SCHEDULER_VERSION=$(python3 -c "import scheduler; print(scheduler.__version__)")
        docker build -t docker.pkg.github.com/hadar-simulator/community-server/scheduler:$VERSION -f scheduler/Dockerfile .
    - name: Build worker
      run: |
        echo $SCHEDULER-VERSION
        docker login docker.pkg.github.com -u $GITHUB_ACTOR -p $TOKEN
      env:
        TOKEN: ${{ secrets.GITHUB_TOKEN }}
