name: Package and E2E

on:
  push:
    branches: [ master ]

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v2
    - name: Set up Python
      uses: actions/setup-python@v1
      with:
        python-version: 3.7
    - name: Install dependencies
      run: |
        python -m pip install --upgrade pip
        pip install hadar
        export VERSION=$(python3 -c 'import hadar; print(hadar.__version__)')
        echo "::set-env name=HADAR_VERSION::$VERSION"

    - name: Build scheduler
      run: |
        export PYTHONPATH=$(pwd)
        export VERSION=$(python3 -c 'import scheduler; print(scheduler.__version__)')
        docker build -t docker.pkg.github.com/hadar-simulator/community-server/scheduler:$VERSION -f scheduler/Dockerfile .
        echo "::set-env name=SCHEDULER_VERSION::$VERSION"

    - name: Build worker
      run: |
        docker build -t docker.pkg.github.com/hadar-simulator/community-server/worker:$SCHEDULER_VERSION-$HADAR_VERSION \
        --build-arg HADAR_VERSION=$HADAR_VERSION -f worker/Dockerfile .

    - name: E2E
      run: |
        docker-compose up -d
        python3 -m unittest discover e2e
        docker-compose down

    - name: Push
      run: |
        docker login docker.pkg.github.com -u $GITHUB_ACTOR -p $TOKEN
        docker push docker.pkg.github.com/hadar-simulator/community-server/scheduler:$SCHEDULER_VERSION
        docker push docker.pkg.github.com/hadar-simulator/community-server/worker:$SCHEDULER_VERSION-$HADAR_VERSION
      env:
        TOKEN: ${{ secrets.GITHUB_TOKEN }}
